extends layout
block content
	h1 
		a(href='http://localhost:3001') Accueil
	h2  Character :
	table(border='1')
		tr
			td	id
			td	name
			td	nom	utilisateur
			td	class
			td	position	x
			td	position	y
				tr
					td=character.id
					td=character.name
					td=character.user_id
					td=character.class
					td=character.position.x
					td=character.position.y