extends layout
block content
	h1 
		a(href='http://localhost:3001') Accueil
	h2   Users :
	table(border='1')
		tr
			td Profil
			td	id
			td	name
			td	email
			td	nom	alliance
	
		each user in users
				tr
					td
						a(href='/users/'+user.id)=user.name
					td=user.id
					td=user.name
					td=user.email
					td=user.alliance_id